In [2]:
import pandas as pd
import numpy as np

# Data Cleaning

In [13]:
advanced = pd.read_csv("csvs/advanced_stats2023.csv", header = 1) #fix col names
pergame = pd.read_csv("csvs/pergame23.csv")
shooting = pd.read_csv("csvs/shooting23.csv")
bucks = pd.read_csv("csvs/advancedbucks.csv")

In [14]:
#winshares stat still needed
advanced.head()

,Rk,Team,Age,W,L,MOV,SOS,SRS,ORtg,DRtg,...,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 20,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 25
0,1.0,Milwaukee Bucks*,29.8,58.0,24.0,3.63,-0.02,3.61,115.4,111.9,...,0.555,12.7,25.0,0.184,NaN,0.520,10.4,77.8,0.175,NaN
1,2.0,Boston Celtics*,27.4,57.0,25.0,6.52,-0.15,6.38,118.0,111.5,...,0.566,12.0,22.1,0.197,NaN,0.528,11.3,78.5,0.180,NaN
2,3.0,Philadelphia 76ers*,28.2,54.0,28.0,4.32,0.06,4.37,117.7,113.3,...,0.563,12.6,21.6,0.250,NaN,0.541,13.0,77.2,0.217,NaN
3,4.0,Denver Nuggets*,26.6,53.0,29.0,3.33,-0.29,3.04,117.6,114.2,...,0.573,13.1,24.8,0.194,NaN,0.543,12.2,76.4,0.201,NaN
4,5.0,Cleveland Cavaliers*,25.4,51.0,31.0,5.38,-0.15,5.23,116.1,110.6,...,0.556,12.3,23.6,0.206,NaN,0.535,14.4,76.3,0.210,NaN

In [20]:
bucks = bucks.sort_values("VORP", ascending = False)
bucks[0:2]

,Rk,Player,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,...,Unnamed: 17,OWS,DWS,WS,WS/48,Unnamed: 22,OBPM,DBPM,BPM,VORP
2,3,Giannis Antetokounmpo,28,63,2024,29.0,0.605,0.134,0.604,7.3,...,NaN,4.9,3.7,8.6,0.204,NaN,5.8,2.7,8.5,5.4
1,2,Jrue Holiday,32,67,2183,19.2,0.586,0.402,0.173,3.9,...,NaN,3.9,2.8,6.7,0.148,NaN,3.0,0.1,3.1,2.8