In [23]:
from nba_api.stats.endpoints import teamyearbyyearstats
from nba_api.stats.static import teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()

In [28]:
lakers = [team for team in nba_teams if team["full_name"] == "Los Angeles Lakers"][0]
lakers

{'id': 1610612747,
 'full_name': 'Los Angeles Lakers',
 'abbreviation': 'LAL',
 'nickname': 'Lakers',
 'city': 'Los Angeles',
 'state': 'California',
 'year_founded': 1948}

In [35]:
lakers23 = teamyearbyyearstats.TeamYearByYearStats(team_id = lakers['id'])
lakers23.get_data_frames()[0]

,TEAM_ID,TEAM_CITY,TEAM_NAME,YEAR,GP,WINS,LOSSES,WIN_PCT,CONF_RANK,DIV_RANK,...,OREB,DREB,REB,AST,PF,STL,TOV,BLK,PTS,PTS_RANK
0,1610612747,Minneapolis,Lakers,1948-49,60,44,16,0.733,0,2,...,0,0,0,1134,1386,0,0,0,5042,1
1,1610612747,Minneapolis,Lakers,1949-50,68,51,17,0.750,0,1,...,0,0,0,1406,1672,0,0,0,5717,1
2,1610612747,Minneapolis,Lakers,1950-51,68,44,24,0.647,0,1,...,0,0,0,1408,1801,0,0,0,5632,8
3,1610612747,Minneapolis,Lakers,1951-52,66,40,26,0.606,0,2,...,0,0,0,1389,1763,0,0,0,5648,5
4,1610612747,Minneapolis,Lakers,1952-53,70,48,22,0.686,0,1,...,0,0,0,1351,1917,0,0,0,5943,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,1610612747,Los Angeles,Lakers,2019-20,71,52,19,0.732,1,1,...,757,2490,3247,1803,1471,612,1077,468,8054,16
72,1610612747,Los Angeles,Lakers,2020-21,72,42,30,0.583,7,3,...,695,2490,3185,1775,1377,562,1095,386,7887,22
73,1610612747,Los Angeles,Lakers,2021-22,82,33,49,0.402,11,4,...,782,2826,3608,1968,1654,626,1191,425,9192,11
74,1610612747,Los Angeles,Lakers,2022-23,82,43,39,0.524,7,5,...,818,2930,3748,2072,1466,526,1154,378,9608,6
75,1610612747,Los Angeles,Lakers,2023-24,12,6,6,0.500,7,2,...,94,429,523,304,221,92,175,82,1354,6