In [2]:
import pandas as pd
import numpy as np4
import plotly.express as px

# Data Cleaning

In [13]:
advanced = pd.read_csv("csvs/advanced_stats2023.csv", header = 1) #fix col names
pergame = pd.read_csv("csvs/pergame23.csv")
shooting = pd.read_csv("csvs/shooting23.csv")
bucks = pd.read_csv("csvs/advancedbucks.csv")

In [14]:
#winshares stat still needed
advanced.head()

,Rk,Team,Age,W,L,MOV,SOS,SRS,ORtg,DRtg,...,eFG%,TOV%,ORB%,FT/FGA,Unnamed: 20,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Unnamed: 25
0,1.0,Milwaukee Bucks*,29.8,58.0,24.0,3.63,-0.02,3.61,115.4,111.9,...,0.555,12.7,25.0,0.184,NaN,0.520,10.4,77.8,0.175,NaN
1,2.0,Boston Celtics*,27.4,57.0,25.0,6.52,-0.15,6.38,118.0,111.5,...,0.566,12.0,22.1,0.197,NaN,0.528,11.3,78.5,0.180,NaN
2,3.0,Philadelphia 76ers*,28.2,54.0,28.0,4.32,0.06,4.37,117.7,113.3,...,0.563,12.6,21.6,0.250,NaN,0.541,13.0,77.2,0.217,NaN
3,4.0,Denver Nuggets*,26.6,53.0,29.0,3.33,-0.29,3.04,117.6,114.2,...,0.573,13.1,24.8,0.194,NaN,0.543,12.2,76.4,0.201,NaN
4,5.0,Cleveland Cavaliers*,25.4,51.0,31.0,5.38,-0.15,5.23,116.1,110.6,...,0.556,12.3,23.6,0.206,NaN,0.535,14.4,76.3,0.210,NaN

In [21]:
pergame.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Sacramento Kings*,82,241.8,43.6,88.2,0.494,13.8,37.3,0.369,...,0.790,9.5,32.9,42.5,27.3,7.0,3.4,13.5,19.7,120.7
1,2.0,Golden State Warriors*,82,241.8,43.1,90.2,0.479,16.6,43.2,0.385,...,0.794,10.5,34.1,44.6,29.8,7.2,3.9,16.3,21.4,118.9
2,3.0,Atlanta Hawks*,82,242.1,44.6,92.4,0.483,10.8,30.5,0.352,...,0.818,11.2,33.2,44.4,25.0,7.1,4.9,12.9,18.8,118.4
3,4.0,Boston Celtics*,82,243.7,42.2,88.8,0.475,16.0,42.6,0.377,...,0.812,9.7,35.6,45.3,26.7,6.4,5.2,13.4,18.8,117.9
4,5.0,Oklahoma City Thunder*,82,242.1,43.1,92.6,0.465,12.1,34.1,0.356,...,0.809,11.4,32.3,43.6,24.4,8.2,4.2,13.0,21.0,117.5

In [22]:
shooting.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,% of FGA by Distance,Unnamed: 8,Unnamed: 9,...,Unnamed: 25,Unnamed: 26,Layups,Unnamed: 28,Unnamed: 29,Corner,Unnamed: 31,Unnamed: 32,Heaves,Unnamed: 34
0,Rk,Team,G,MP,FG%,Dist.,NaN,2P,0-3,10-Mar,...,Md.,NaN,%FGA,Md.,NaN,%3PA,3P%,NaN,Att.,Md.
1,1,Atlanta Hawks*,82,19855,0.483,13.2,NaN,0.669,0.25,0.186,...,450,NaN,0.242,1022,NaN,0.262,0.364,NaN,8,0
2,2,Boston Celtics*,82,19980,0.475,15.3,NaN,0.52,0.21,0.192,...,335,NaN,0.272,1166,NaN,0.223,0.403,NaN,12,0
3,3,Brooklyn Nets*,82,19730,0.487,14.6,NaN,0.603,0.222,0.177,...,373,NaN,0.222,891,NaN,0.243,0.392,NaN,6,0
4,4,Chicago Bulls*,82,19905,0.49,13.6,NaN,0.667,0.281,0.146,...,329,NaN,0.273,1163,NaN,0.262,0.397,NaN,4,0

In [20]:
bucks = bucks.sort_values("VORP", ascending = False)
bucks[0:2]

,Rk,Player,Age,G,MP,PER,TS%,3PAr,FTr,ORB%,...,Unnamed: 17,OWS,DWS,WS,WS/48,Unnamed: 22,OBPM,DBPM,BPM,VORP
2,3,Giannis Antetokounmpo,28,63,2024,29.0,0.605,0.134,0.604,7.3,...,NaN,4.9,3.7,8.6,0.204,NaN,5.8,2.7,8.5,5.4
1,2,Jrue Holiday,32,67,2183,19.2,0.586,0.402,0.173,3.9,...,NaN,3.9,2.8,6.7,0.148,NaN,3.0,0.1,3.1,2.8